.button {
    width: max-content;
    border: none;
    background-color: green;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-family: "__Inter_0ec1f4", "__Inter_Fallback_0ec1f4";
}
