.container {
    display: flex;
    align-items: center;
    background-color: red;
    padding: 15px 0;
    .navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
        .list {
            list-style: none;
            :hover {
                color: aqua;
            }
        }
    }
}
