.navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding: 15px 0;
    background-color: red;
    .list {
        list-style: none;
        :hover {
            color: aqua;
        }
    }
}
